#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Aoide
GenericName=Music player
Exec=${AOIDE_DESKTOP_EXECUTABLE} --class=aoide ${AOIDE_DESKTOP_ARGS}
TryExec=${AOIDE_DESKTOP_EXECUTABLE}
Terminal=false
Type=Application
Icon=io.github.Virel0.Aoide
StartupWMClass=aoide
SingleMainWindow=true
Categories=AudioVideo;Audio;Player;Music;
Keywords=Navidrome;Jellyfin;Subsonic;OpenSubsonic
Comment=A player for your self-hosted music server
