.page {
    max-width: var(--theme-content-max-width);
    padding: var(--theme-spacing-lg);
    margin: 0 auto;
}

.input {
    flex: 1;
}

.row {
    display: flex;
    gap: var(--theme-spacing-md);
    align-items: center;
    padding: var(--theme-spacing-sm);
}

.art {
    flex-shrink: 0;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: var(--theme-radius-sm);
}

.text {
    display: flex;
    flex-direction: column;
    min-width: 0;
}
